<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Framework vue</title>
  </head>

  <body>
    <div id="app">
      <!-- <form action="javascript:void(0)"> -->
      <div class="container">
        <input
          class="form-control"
          type="text"
          id="serie"
          v-model="automotor.serie"
          placeholder="Serie"
          required
        />
        <br />
        <input
          class="form-control"
          type="text"
          id="placa"
          v-model="automotor.placa"
          placeholder="Placa"
          required
        />
        <br />
        <input
          class="form-control"
          id="modelo"
          type="number"
          v-model="automotor.modelo"
          placeholder="Modelo"
        />
        <br />
        <input
          type="submit"
          class="btn btn-primary"
          v-on:click="crearAutomotor()"
          v-if="filaAModificar==null"
          value="Crear automotor"
        />
        <button
          class="btn btn-primary"
          v-if="filaAModificar!=null"
          @click="modificarGuardar()"
        >
          Guardar modificación
        </button>
      </div>
      <!-- </form> -->

      <hr />

      <table border="1">
        <thead>
          <td>Serie</td>
          <td>Placa</td>
          <td>Modelo</td>
          <td>Ac. Modificar</td>
          <td>Ac. Eliminar</td>
        </thead>
        <tbody id="list_body">
          <tr v-for="(a, index) in automotores">
            <td>{{ a.serie }}</td>
            <td>{{ a.placa }}</td>
            <td>{{ a.modelo }}</td>
            <td><button @click="modificar(index)">Modificar</button></td>
            <td><button @click="eliminar(index)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
